// variable
$dark-blue: #101720;
$teal: #30d3ad;
$white: #fefefe;

#wrapper-section {
  h1 {
    text-align: center;
    font-size: 2.5em;
  }

  #people-container {
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
